<html>
  <head>
    <title>Page d'accueil</title>
  </head>
  <body>
    Bienvenue dans html-usdd
    <a href="{{host}}/paiment">Faire un paiment</a>
    <a href="{{host}}/solde">Consulter soldes</a>
    <a href="{{host}}/form-get">Formulaire avec Get</a>
    <a href="{{host}}/form-post">Formulaire avec Post</a>
    <a href="{{host}}/not-in-history">Not in history</a>
    <a href="{{host}}/list-offre">list-offre</a>
    <a href="{{host}}/not-in-cache">not-in-cache</a>
  </body>
</html>
